.currency {
	position: relative;
}

.currency .dropdown-toggle {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 0;
	color: $accent;
	text-decoration: none;
	&:hover {
		color: $accent;
		.currency__text, .flag {
			color: #616161;
		}
		.caret {
			color: $accent;
		}
	}
	.fa {
		display: block;
	}
}
.currency__text {
	display: block;
	padding: rem(2.5px) 0;
	font-family: $font-base;
	font-size: rem(18px);
	line-height: rem(30px);
	font-weight: 700;
	color: $accent;
	white-space: nowrap;
}
.currency .flag {
	display: block;
	font-size: rem(24px);
	line-height: rem(30px);
	font-weight: 400;
}
.currency .caret {
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	color: #616161;
	font-size: rem(18px);
	line-height: rem(30px);
	border: 0;
}
.currency .dropdown-menu  {
	min-width: auto;
	padding: 0;
	border: 0;
	width: 100%;
	& a {
		display: block;
		padding: 10px 25px;
		font-size: 1rem;
		font-family: $font-base;
		color: $accent;
		.fa {
			font-size: rem(18px);
			font-weight: 400;
			margin-right: rem(8px);
		}
	}
}
