.currency {
	position: relative;
}

.currency .dropdown-toggle {
	display: block;
	position: relative;
	font-size: 0;
	color: $accent;
	text-decoration: none;
	&:hover {
		color: $accent;
		.currency__text, .flag {
			color: #616161;
		}
		.caret {
			color: $accent;
		}
	}
}
.currency__text {
	padding: rem(8.5px) 0;
	padding-left: rem(40px);
	padding-right: rem(30px);
	white-space: nowrap;

	font-size: rem(18px);
	line-height: 1;
	font-family: $font-base;
	font-weight: 700;
	color: $accent
}
.currency .flag {
	position: absolute;
	z-index: 30;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	font-size: rem(24px);
	line-height: 1;
	font-weight: 400;
}
.currency .caret {
	position: absolute;
	z-index: 30;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	border-width: 6px;
	color: #616161;
}
.currency .dropdown-menu  {
	min-width: auto;
	padding: 0;
	border: 0;
	width: 100%;
	& a {
		display: block;
		padding: 10px 25px;
		font-size: 1rem;
		font-family: $font-base;
		color: $accent;
		.fa {
			font-size: rem(18px);
			font-weight: 400;
			margin-right: rem(8px);
		}
	}
}
