.footer {
  position: relative;
  background-color: #212121;
  background-image: url("../img/bg/bg3@1x.png");
  @extend %cover;
}
.footer__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: rem(20px);
  border-bottom: 1px solid #424242;
  box-sizing: border-box;
}
.footer__bottom {
  color: #e0e0e0;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.footer__column {
  width: 25%;
}
.footer__block {
}
.footer__title {
  margin-bottom: 18px;
  font-size: rem(24px);
  line-height: 1;
  font-family: $PT-Serif;
  font-weight: 700;
  color: #e0e0e0;
}
.footer-list {
  @extend %ul-reset;
  margin-bottom: 30px;
  &--contacts {
    .footer-list__link {
      margin-bottom: 12px;
    }
  }
}
.footer-list__item {
  span {
    display: inline-block;
    vertical-align: top;
    font-size: rem(17px);
  }
  & .fa {
    font-size: 18px;
    margin-right: 8px;
    color: #e0e0e0;
  }
  &--light {
    color: #e0e0e0;
    .footer-list__link {
      color: #e0e0e0;
    }
  }
}
.footer-list__link {
  display: block;
  margin-bottom: 20px;
  font-size: rem(17px);
  line-height: rem(20px);
  font-family: $font-base;
  font-weight: 700;
  color: #437de7;
  text-decoration: none;
  transition: .25s;
  cursor: pointer;
  &:hover {
    color: #e0e0e0;
  }
  &:active {
    color: #e0e0e0;
  }
}
.footer__block-inner {
  border-bottom: 1px solid #424242;
}
.footer__pay {
  display: block;
  width: 196px;
  height: 70px;
  margin-top: -5px;
  margin-bottom: 17px;
}
.footer__paypal {
  display: block;
  width: 196px;
  height: 48px;
  margin-bottom: 32px;
}
.footer__touch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__touch-title {
  width: 50%;
  color: #e0e0e0;
  font-size: rem(24px);
  line-height: rem(58px);
  font-family: $PT-Serif;
  font-weight: 700;
}
.footer__touch .socials {
  width: 50%;
}
.footer__touch .socials__link {
  width: auto;
  height: auto;
  font-size: rem(24px);
  font-weight: 400;
  line-height: rem(48px);
  color: #437de7;
  &:hover {
    color: #e0e0e0;
  }
}

.footer__bottom {
  padding: 12px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: rem(16px);
  line-height: rem(30px);
  font-family: $font-base;
  font-weight: 400;
}
.footer__copyright {
  text-align: left;
  font-size: rem(16px);
  line-height: rem(30px);
  font-family: $font-base;
  font-weight: 400;
  color: #e0e0e0;
}
.footer__eCommerce  {
  font-size: rem(16px);
  line-height: rem(30px);
  font-family: $font-base;
  font-weight: 400;
  color: #e0e0e0;
  & a {
    text-decoration: none;
    color: #437de7;
    cursor: pointer;
    &:hover, &:active {
      color: #e0e0e0;
    }
  }
}

@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {

}
@media screen and #{($phone-point-widths-des)} {

}
