.header {
  position: relative;
  color: $gray-1;
  background-color: #fff;
}
.header__top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
  flex: 1 1 auto;
  max-width: 340px;
  max-height: 111px;
  width: inter(340, 1580); //340
  text-align: center;
  box-sizing: border-box;
  transition: .25s;
  & .logo__link {
    padding: 32px 0; //90
    font-size: rem(48px);
    line-height: 1;
    font-family: $PT-Serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #1256d1;
    box-sizing: border-box;
  }
}
.header__addition {
  width: calc(100% - 151px - 340px);
  border-left: 1px solid #bdbdbd;
  flex: 1 1 auto;
  transition: .25s;
  box-sizing: border-box;
}
.header__action {
  width: inter(151, 1580); //151;
  background-image: #dce8fc;
  background-image: url("../img/bg/bg4@1x.jpg");
  transition: .25s;
  @extend %cover;
  @media #{$retina} {
    background-image: url("../img/bg/bg4@2x.jpg");
  }
}
.header__number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 1 1 auto;
  padding: rem(10px) 0;
  font-size: 0;
  line-height: 1;
  font-weight: 700;
  font-family: $font-base;
  color: $accent;
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: rem(36px);
    line-height: normal;
    padding: 0 10px;
  }
  .fa {
    display: block;
    font-size: rem(36px);
    vertical-align: middle;
  }
}
.header__check {
  display: block;
  padding-bottom: rem(8px);
  padding-top: rem(8px);
  text-align: center;
  text-decoration: none;
  font-size: rem(18px);
  line-height: rem(20px);
  line-height: 1;
  font-family: $font-base;
  font-weight: 700;
  color: $accent;
  cursor: pointer;
  .fa {
    margin-left: 15px;
  }
  &:hover {
    color: $accent-active;
  }
}
.header__addition-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1;
  padding: rem(10px) 0;
  border-bottom: 1px solid #bdbdbd;
  box-sizing: border-box;
  transition: .25s;
  .search {
    width: 748px;
    width: inter(748, 1090);
    padding: 0 rem(13px);
    border-right: 1px solid #bdbdbd;
    box-sizing: border-box;
  }
  .user,
  .language,
  .currency {
    position: relative;
    width: rem(167px);
    border-right: 1px solid #bdbdbd;
    box-sizing: border-box;
    outline: none;
  }
  .language {
    width: rem(70px);
  }
  .currency {
    width: rem(100px);
    border: 0;
  }
}
.header__middle {
  margin-bottom: 22px;
  background-color: #1256d1;
  .menu {
    min-height: auto;
    border: 0;
    margin: 0;
  }
}
.header__bottom-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.header__rose {
  position: relative;
  min-height: 36px;
  background-color: #fff;
}
.header__rose span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: #bdbdbd;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 5px;
    z-index: 30;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
  }
  &::after {
    content: "";
    position: absolute;
    top: auto;
    bottom: 5px;
  }
}
.header__rose-pict {
  position: absolute;
  z-index: 50;
  left: 50%;
  padding: 0 30px;
  transform: translateX(-50%);
  display: block;
  width: 60px;
  height: 36px;
  margin-top: -18px;
  background-color: #fff;
  &::after {
    content: "";
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/decor/icon-rose@1x.png");
    @extend %cover;
    @media #{$retina} {
      background-image: url("../img/decor/icon-rose@2x.png");
    }
  }
}

@media screen and #{($laptop-point-widths-des)} {


}
@media screen and #{($tablet-point-widths-des)} {
  .header__top {
    flex-wrap: wrap;
  }
  .header__logo {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #bdbdbd;
    & .logo__link {
      padding: rem(10px) 0;
    }
  }
  .header__addition {
    padding: 13px 0;
  }
  .header__number {
    padding: rem(5px) 0;
    align-items: stretch;
  }
  .header__addition-top {
    justify-content: flex-start;
  }
  .header__number {
    display: block;
    text-align: center;
    padding: 0;
    .fa {
      padding: 5px 0;
    }
  }
  .header__check {
    padding-bottom: rem(12px);
    padding-top: rem(12px);
    .fa {
      display: block;
      margin: 0 auto;
    }
  }
  .header__bottom-inner {
    display: block;
    .banner {
    width: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .header__addition,
  .header__action {
    width: 100%;
  }
  .header__addition-top {
    flex-wrap: wrap;
    padding-bottom: 0;
    .search {
      // width: 100%;
    }
  }
  .header__action {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .header__number {
    width: 50%;
    display: flex;
    justify-content: space-around;
    .fa, span {
      display: inline-block;
      vertical-align: top;
      line-height: 1;
      padding: 5px 0;
    }
  }
  .header__check {
    width: 50%;
    .fa {
      display: inline-block;
      vertical-align: top;
      margin-left: 20px;
      line-height: 1;
    }
  }
  .header__addition-top .search {
    width: 100%;
    border: 0;
  }
  .header__addition-top .user,
  .header__addition-top .language,
  .header__addition-top .currency {
    width: 33.33%;
  }
}
@media screen and #{($phone-point-widths-des)} {
  .header__addition-bottom .contacts {
    display: block;
  }
  .contacts__item {
    text-align: center;
  }
}
