.user {
	position: relative;
}
.user .dropdown-toggle {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 0;
	color: $accent;
	text-decoration: none;
	&:hover {
		color: $accent-active;
		.caret {
			color: $accent;
		}
		.user__text {
			color: #616161;
		}
	}
	.fa {
		display: block;
	}
}
.user .user__text {
	display: block;
	padding: rem(2.5px) 0;
	font-family: $font-base;
	font-size: rem(18px);
	line-height: rem(30px);
	font-weight: 700;
	color: $accent;
	white-space: nowrap;
}
.user	.flag {
	display: block;
	font-size: rem(24px);
	line-height: rem(30px);
	font-weight: 400;
}
.user .caret {
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	color: #616161;
	font-size: rem(18px);
	line-height: rem(30px);
	border: 0;
}
.user .dropdown-menu {
	min-width: auto;
	padding: 0;
	border: 0;
	width: 100%;
	& a {
		display: block;
		padding: rem(10px) rem(25px);
		font-size: 1rem;
		font-family: $font-base;
		color: $accent;
	}
}
