main.content
	.container
		.content__top
			h1.content__title Featured products
			a(href="#").btn.content__view-btn 
				|View all featured products
				i(aria-hidden="true").fa.fa-arrow-right 
		ul.content__list
			li.content__item
				include ../common/_card
			li.content__item
				include ../common/_card
			li.content__item
				include ../common/_card
			li.content__item
				include ../common/_card
				
