.search
	form(action="#" method="POST").search__form
		label(for="search-field").search__icon
			i(aria-hidden="true").fa.fa-search
		input(type="search" name="search").search-form__input#search-field
