ul.socials
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-facebook-square 
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-twitter-square 
  li.socials__item
    a.socials__link(href="#", target="_blank", rel="noopener noreferrer")
      i(aria-hidden="true").fa.fa-pinterest-square 
          
